header{
    background-color:#bbbbbb;
    padding: 20px 0;

}

.caixa{
    width:940px;
    position: relative;
    margin: 0 auto;
}


nav{

    position:absolute ;
    top: 126px;
    right:0;
}

nav li{
    display:inline ;
    margin: 0 0 0 15px;
}

nav a{
    text-transform:uppercase;
    color: #000000;
    font-weight:bold ;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}


main{
    width: 940px;

    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.inputs-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}


.checkbox{
    margin: 20px 0;
 

}



.enviar{
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    border: none;
    border-radius: 5px;
   transition: 1s;
   cursor:pointer;
}
.enviar:hover{
    background:darkorange;
    transform: rotate(70deg) scale(1.2);
}


table{
    margin: 20px 0  40px;
}
 
thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: solid 1px #000000;
    padding: 8px 15px;
}


footer{
    text-align: center;
    background: url(./bg.jpg);
    padding: 40px 0;
    
}

.copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0 0;
}